<div class="" style="display:flex; flex-direction:row; flex-wrap:wrap;">
    <div class="col-lg-6 darkTheme">
        <h3 class="darkTheme" style="text-align:center;">
            <span class="fa-stack">
                <i class="far fa-circle fa-stack-2x circleIcon"></i>
                <i class="fas fa-brain fa-stack-1x"></i>
                <i class="far fa-tools fa-stack-1x"></i>
            </span>
            PROFICIENCY
        </h3>

        <div class="">
            <table style="margin: auto; border: none;">
            {% for knowledge in entry.knowledge %}
                <tr>
                    <td style="text-align: right; border: none; padding:0px;">
                        {{knowledge.name}}
                    </td>
                    <td style="min-width: 250px; border: none;">
                        <div class="progress backgroundBlue">
                            <div class="progress-bar frontBlue" style="width: {{knowledge.value}}%"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>

        <p></p>
    </div>
    <div class="col-lg-6 darkTheme">
        <h3 class="darkTheme" style="text-align:center;">
            <span class="fa-stack ">
                <i class="far fa-circle fa-stack-2x circleIcon"></i>
                <i class="fas fa-tools fa-stack-1x"></i>
            </span>
            TECHNOLOGIES
        </h3>
        <div class="padding-left">
            <div class="d-flex flex-wrap align-content-center align-items-center">
                <div class="conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/aspnet-blue.png"></div>
                    <div class="conhecimentos">.NET</div>
                </div>

                <div class="conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/c-sharp-blue.png"></div>
                    <div class="conhecimentos">C-Sharp</div>
                </div>

                <div class="conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/efcore-blue.png"></div>
                    <div class="conhecimentos">Entity</div>
                </div>

                <div class=" conhecimentos">
                    <div class="conhecimentos"> <img class="skills" src="../assets/img/cv/php-blue.png"></div>
                    <div class="conhecimentos">PHP</div>
                </div>
                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/sql-blue.png"></div>
                    <div class="conhecimentos">SQL Server</div>
                </div>
                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/sql-blue.png"></div>
                    <div class="conhecimentos">MySQL</div>
                </div>

                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/html-blue.png"></div>
                    <div class="conhecimentos">HTML</div>
                </div>

                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/css-blue.png"></div>
                    <div class="conhecimentos">CSS</div>
                </div>

                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/javascript-blue.png"></div>
                    <div class="conhecimentos" style="font-size: 0.9em">JavaScript</div>
                </div>
                <div class=" conhecimentos"> 
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/jquery-blue.png"></div>
                    <div class="conhecimentos" style="font-size: 0.9em">JQuery</div>
                </div>
                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/vueJS.png"></div>
                    <div class="conhecimentos" style="font-size: 0.9em">Vue JS</div>
                </div>

                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/git-blue.png"></div>
                    <div class="conhecimentos">GIT</div>
                </div>
                <div class=" conhecimentos">
                    <div class="conhecimentos"><img class="skills" src="../assets/img/cv/unity-blue.png"></div>
                    <div class="conhecimentos">Unity</div>
                </div>
                <!--
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/react-blue.png"></div>
                        <div class="conhecimentos">React</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/angular-blue.png"></div>
                        <div class="conhecimentos">Angular</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../iassets/img/cvmg/mongo-blue.png"></div>
                        <div class="conhecimentos">MongoDB</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/elasticsearch-blue.png"></div>
                        <div class="conhecimentos">Elasticsearch</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/redis-blue.png"></div>
                        <div class="conhecimentos">Redis</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/docker-blue.png"></div>
                        <div class="conhecimentos">Docker</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/kubernetes-blue.png"></div>
                        <div class="conhecimentos">Kubernetes</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/rabbitmq-blue.png"></div>
                        <div class="conhecimentos">RabbitMQ</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/kafka-blue.png"></div>
                        <div class="conhecimentos">Kafka</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/jenkins-blue.png"></div>
                        <div class="conhecimentos">Jenkins</div>
                    </div>
                    <div> class=" conhecimentos">
                        <div class="conhecimentos"><img class="skills" src="../assets/img/cv/github-blue.png"></div>
                        <div class="conhecimentos">GitHub Actions</div>
                    </div>
                -->
            </div>
        </div>
    </div>
</div>
