<ul class="">
  <li class="dot"><h3 class="font-weight-medium">{{ entry.title }}</h3></li>
  {% for content in entry.contents %}
    <li class="dot">
      <div class="row">
        <div class="col-xs-12 cl-sm-12 col-md-12 mt-2 mt-md-0">
          {% if content.title %}
          <h4 class="title font-weight-bold ml-1 ml-md-4">{{content.title}}</h4>
          {% endif %}
          <p><text class="notas badge-pill cinzaBG">{{ content.year }}</text></p>
          {% if content.institution %}
          <h5 class="ml-1 ml-md-4" style="font-size: 0.95rem;"><text class="blueFont">{{content.institution}}</text></h5>
          {% endif %}

          
          <ul class="items">
            {% if content.description %}
              {% for item in content.description %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                    {% for subitem in item.contents %}
                      <li><span class="subitem">{{ subitem }}</span></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            {% endif %}


            {% if content.technologies %}
            <li>
              <span class="item-title">Technologies</span><br/>&emsp;
              {% for technology in content.technologies %}
                  <!-- <span class="badge rounded" style="background-color: var(--global-theme-color);">{{ technology }}</span> -->
                  <span class="badge rounded" style="background-color: #5b9bd5;">{{ technology }}</span>
              {% endfor %}
            </li>
            {% endif %}

            {% if content.skills %}
            <li>
              <span class="item-title">Skills</span><br/>&emsp;
              {% for skill in content.skills %}
                  <!-- <span class="badge rounded-pill" style="background-color: var(--global-theme-color);">{{ skill }}</span> -->
                  <span class="badge rounded-pill" style="background-color: #5b9bd5;">{{ skill }}</span>
              {% endfor %}
            </li>
            {% endif %}
          </ul>

          {% if content.items %}
            <ul class="items">
              {% for item in content.items %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                    {% for subitem in item.contents %}
                      <li><span class="subitem">{{ subitem }}</span></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>